<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.idearun.learnandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk tools:overrideLibrary="com.microsoft.appcenter,com.microsoft.appcenter.analytics,com.microsoft.appcenter.crashes"/>
    <application
        android:name="co.idearun.learnandroid.App"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearningApp"
        android:usesCleartextTraffic="true">
        
        <activity
            android:name="co.idearun.feature.MainActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>